body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar */

li{
  list-style-type: none;
}

.fa{
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    margin-left: 14px;
}

.fa-user{
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    margin-left: 17px;
}

.nav-text{
  color: white;
  margin-left: -43px;
}

.nav-text-2{
  color: white;
  margin-left: -55px;
}

.current-icon{
  background: #2826b6;
    color: white;
}

.not-current-icon{
  background: #d8d8d8;
  color: #666;
}

.icon-box-home{
    position: fixed;
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    /* background: #d8d8d8; */
    cursor: pointer;
    /* color: #666; */
    position: fixed;
    right: 30px;
    top: 193px;
    z-index: 5;
    text-decoration: none;
}

.icon-box-home:hover{
  background: #2826b6;
  color: white;
  opacity: 1;
  border-radius: 35px;
  padding-left: 70px;
  transition: all 0.2s linear 0s;
}

.icon-box-about{
  position: fixed;
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    /* background: #d8d8d8; */
    cursor: pointer;
    /* color: #666; */
    position: fixed;
    right: 30px;
    top: 270px;
    z-index: 5;
    text-decoration: none;
}

.icon-box-about:hover{
  background: #2826b6;
  color: white;
  border-radius: 35px;
  padding-left: 70px;
  transition: all 0.2s linear 0s;
}

.icon-box-projects{
  position: fixed;
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    /* background: #d8d8d8; */
    cursor: pointer;
    /* color: #666; */
    position: fixed;
    right: 30px;
    top: 347px;
    z-index: 5;
    text-decoration: none;
}

.icon-box-projects:hover{
  background: #2826b6;
  color: white;
  border-radius: 35px;
  padding-left: 70px;
  transition: all 0.2s linear 0s;
}

.icon-box-contact{
  position: fixed;
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    /* background: #d8d8d8; */
    cursor: pointer;
    /* color: #666; */
    position: fixed;
    right: 30px;
    top: 424px;
    z-index: 5;
    text-decoration: none;
}

.icon-box-contact:hover{
  background: #2826b6;
  color: white;
  border-radius: 35px;
  padding-left: 70px;
  transition: all 0.2s linear 0s;
}

/* home page */

.image-block{
    height: calc(100vh - 80px);
    border-radius: 30px;
    margin-top: 43px;
    box-shadow: 0 0 12px rgb(0 0 0 / 90%);
    z-index: 2;
}

body{
  color: #666;
}


.color-block{
  position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    background-color: #2826b6;
    z-index: 0;
}

.home-content{
  margin-left: -124px;
  margin-right: 29px;
  margin-top: 162px;
}

.home-col{
  margin-top: -13px;
  margin-left: 127px;
  margin-right: 144px;
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(2, 1fr);
}

.home-title{
  font-size: 55px;
    line-height: 62px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins",sans-serif;
    color: #302ed6;
}

.home-profession{
  font-size: 48px;
    line-height: 62px;
    font-weight: 500;
    position: relative;
    font-family: "Poppins",sans-serif;
    color: #666;
}

.mark{
  color: #030303;
  font-size: 50px;
  font-weight: 700;
}

.intro{
    font-size: 20px;
    line-height: 35px;
    font-family: "Open Sans",sans-serif;
}

.about-btn{
  line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 16px 35px 16px 35px;
    font-size: 15px;
    font-weight: 800;
    color: #666;
    background-color: transparent;
    margin-left: 0px;
    border-color: #302ed6;
}

.about-btn:hover{
  color:white;
  background-color:#302ed6;
  transition: all 0.2s linear 0s;
}

/* about */

.about-cont{
  margin-right: 157px;
    margin-left: 10px;
    margin-top: 27px;
    margin-bottom: 20px;
    margin-top: -351px;
    display: grid;
    /* grid-gap: 2rem; */
    grid-gap: 2rem;
    grid-gap: 0px;
    grid-gap: 0px;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
}


.about-title{
  font-size: 55px;
    line-height: 65px;
    font-weight: 900;
    margin: 0 0 343px;
    position: relative;
    padding-left: 506px;
    /* padding-top: 36px; */
    font-family: "Poppins",sans-serif;
    color: #666;
}

.about-title-2{
  color:#302ed6;
  padding-left: 25px;
}

.abt-block{
  margin-right: 157px;
  margin-left: 90px;
  /* margin-top: 68px; */
  display: grid;
  /* grid-gap: 2rem; */
  grid-gap: 2rem;
  grid-gap: 0px;
  grid-gap: 0px;
  gap: 0px;
  grid-template-rows: repeat(2, 1fr);
}

.about-p-info{
  font-size: 42px;
    line-height: 62px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: -23px;
    padding-top: 24px;
    font-family: "Poppins",sans-serif;
    color: #343232;
    text-align: center;
}

.abt-lang-block{
  margin-top: -29px;
    margin-left: 176px;
    text-align: center;
    display: flex;
}

.shift{
  margin-left: 20px;
}

/* projects */

.project-container{
  margin-right: 157px;
    margin-left: -98px;
    margin-top: -1047px;
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.project-title{
  font-size: 55px;
    line-height: 65px;
    font-weight: 900;
    margin: 0 0 1110px;
    position: relative;
    padding-left: 506px;
    /* padding-top: 36px; */
    font-family: "Poppins",sans-serif;
    color: #666;
}

.p-info-para{
  font-family: "Open Sans",sans-serif;
  /* opacity: 0.8; */
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 21px;
  color: #aca2a2;
}

.p-info-para-span{
  font-size: 19px;
  /* font-weight: 900; */
  color: #090909;
}



.single-project{
  
  margin-bottom: 40px;
    height: 465px;
    float: left;
    margin-left: 47px;
    /* align-items: flex-end; */
    align-content: stretch;
    margin-top: 15px;
    width: 388px;
    /* width: var(--smallWidth); */
    /* margin: 0 auto; */
    /* max-width: 40rem; */
    max-width: var(--maxWidth);
    /* background-color: #666; */
    /* background: #666; */
    background: var(--clr-white);
    /* background: var(--mainWhite); */
    /* padding: 2rem 2.5rem; */
    /* padding-left: 29px; */
    /* padding-top: 2px; */
    padding-bottom: 15px;
    /* padding-right: 29px; */
    text-transform: capitalize;
    border-radius: 0.25rem;
    /* border-radius: var(--mainBorderRadius); */
    cursor: pointer;
    box-shadow: 2px 10px 11px 0 rgb(0 0 0 / 50%);
}
.single-project:hover{
  box-shadow: 2px 10px 17px 0 rgb(0 0 0 / 50%);
}
.img-block{
  width: 388px;
  overflow: hidden;
  height: 244px;
  border-bottom: 2px solid #666;
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.img-project{
    width: 100%;
    height: 244px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: 0.5s all ease-in-out;
}
.img-project:hover{
  transform: scale(1.3);
}
.project-name{
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-left: 10px; */
  font-family: "Poppins",sans-serif;
  color: black;
  font-size: 31px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 4px;
}
.project-info{
  color: #50657a;
  margin-right: 10px;
    margin-left: 10px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1px;
}
.project-tools{
  margin-left: 10px;
    font-family: "Poppins",sans-serif;
}

.project-info-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 13px;
}

.proj-lang-block{
  margin: -14px 6px;
    padding: 17px 0px;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
}

.tab{
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  margin: 0.25rem 0.25rem 0;
  background: #d3e3e3;
  padding: 3px 6px;
  border-radius: 9px;
  color: #454545;
  margin-right: 18px;
}


/* personal info */


.p-info-block{
  margin-bottom: 51px;
    height: 306px;
    float: left;
    margin-left: 38px;
    /* align-items: flex-end; */
    align-content: stretch;
    margin-top: 10px;
    width: 555px;
    background: var(--clr-white);
    padding-bottom: 15px;
    text-transform: capitalize;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 5px solid #302ed6;
}

.details-block{
  margin-top: -15px;
  margin-left: 25px;
}

.info-col{
  margin-top: -13px;
    margin-left: -117px;
    display: grid;
    /* grid-gap: 2rem; */
    grid-gap: 2rem;
    grid-gap: 0px;
    grid-gap: 0px;
    grid-gap: 0px;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
}

.info-pic{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
  /* position: fixed; */
  margin-left: 148px;
  margin-top: 28px;
}

/* contact */

.contact-container {
  margin-right: 157px;
  /* margin-left: 10px; */
  margin-top: -271px;
  display: grid;
  /* grid-gap: 2rem; */
  grid-gap: 2rem;
  grid-gap: 0px;
  grid-gap: 0px;
  gap: 0px;
  grid-template-columns: repeat(2, 1fr);
}

.subheading{
  font-family: "Poppins",sans-serif;
    color: black;
    font-size: 31px;
    letter-spacing: 2px;
}

.subheading2{
  font-family: "Poppins",sans-serif;
    color: black;
    font-size: 31px;
    letter-spacing: 2px;
}

.contact-para{
  font-size: 20px;
    line-height: 35px;
    font-family: "Open Sans",sans-serif;
}

.contact-block1{
  margin-left: 121px;
  margin-right: 73px;
}

.input-1{
  padding-left: 18px;
    margin-bottom: 12px;
    height: 35px;
    width: 400px;
    border: 3px solid #817979;
    border-radius: 30px;
    font-size: 21px;
}

.input-2{
  padding-left: 18px;
  margin-bottom: 12px;
  height: 35px;
  width: 613px;
  border: 3px solid #817979;
  border-radius: 30px;
  font-size: 21px;
}

.input-3{
  padding: 12px;
  margin-bottom: 12px;
  height: 213px;
  width: 613px;
  border: 3px solid #817979;
  border-radius: 34px;
  font-size: 21px;
}

.submit-btn{
  border-radius: 35px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 16px 35px 16px 35px;
    font-size: 15px;
    font-weight: 800;
    color: #666;
    background-color: transparent;
    /* margin-left: 591px; */
    border-color: #302ed6;
}

.submit-btn:hover{
  color:white;
  background-color:#302ed6;
  transition: all 0.2s linear 0s;
}

.social{
  padding-top: 10px;
}

.github{
  color: rgb(71, 70, 70);
    font-size: 59px;
}

.github:hover{
  color: black;
}

.linkedin{
  color: rgb(71, 70, 70);
    font-size: 59px;
    margin-left: 24px;
}

.linkedin:hover{
  color: #2826b6;
}

.twitter{
  color: rgb(71, 70, 70);
    font-size: 59px;
    margin-left: 24px;
}

.twitter:hover{
  color: #2826b6;
  /* background-color: #2826b6; */
}

